
.header_icons{
    margin: 0.3em;
    padding: 0.3em;
    color: white;
    background: blue;
    border-radius: 20%;
}
.header, header{
    font-size: 12px;
}
.header_icons_right_align{
    align-items: flex-end;
    flex-flow: column nowrap;
    img{
        border-radius: 50%;
    }
}
.navbar-brand{
    margin: 0 1.5em;
}
.language{
    width: 2em;
    height: 2em;
}
.notificationText{
    height: 13px;
    width: 13px;
    font-size: 10px;
    color: red;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 0px;
}
.national_language{
    padding: 1.25em 2em;
}    
.image-container {
    border-radius: 50%;
    overflow: hidden;
    height: 3.5em;
    width: 3.5em;
    margin-top: 0.5em;
  }
  
  .image-container img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .notificationbar{
    padding-top: 1.25em;
  }
  .border_bottom{
    border-bottom: 1px solid gray;
  }