<header>
        <div class="fluid-container">
            <div class="row border_bottom">
                <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
                    <div class="collapse navbar-collapse header_icons_left_align" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li>
                                <a class="navbar-brand" href="#">
                                    <img src="../../assets/images/amplelogic-logo_Black.png" alt="Company Logo" width="150">
                                </a> 
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <fa-icon class="header_icons" [icon]="faUserCheck"></fa-icon> Organisation Structure
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <fa-icon class="header_icons" [icon]="faVectorSquare"></fa-icon>Configurations
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <fa-icon class="header_icons" [icon]="faCopy"></fa-icon>Reports
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <fa-icon class="header_icons" [icon]="faGears"></fa-icon>ETL
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="collapse header_icons_right_align navbar-collapse d-flex" id="navbarNavDropdown">
                        <ul class="navbar-nav  d-flex" role="right-menu">
                            <li class="nav-item dropdown">
                                <a class="nav-link national_language" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img class="language" src="../../assets/images/Flag_of_India.png" alt="language selection" >
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">China</a></li>
                                    <li><a class="dropdown-item" href="#">USA</a></li>
                                    <li><a class="dropdown-item" href="#">Russia</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link notificationbar" href="#" role="button" aria-expanded="false">
                                    <fa-icon class="fa-2x" [icon]="faBell"></fa-icon>
                                </a>
                                <div class="notificationText">1</div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link image-container" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="../../assets/images/download.jpg" alt="language selection" >
                                </a>
                                <ul class="dropdown-menu">
                                    <li>Name : John David</li>
                                    <li>LoginId : david1322</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                
            </nav>
            </div>
        </div>
    
</header>