<footer class="footer">
    <div class="fluid-container">
        <div class="row">
            <div class="col-3">
                <img class="footer_image" src="../../assets/images/amplelogic-logo_Black.png" alt="Company Logo" width="75">
            </div>
            <div class="col-6 text-center">
                Copyrights &copy; 2010-2023 Amplelogic 
                <span class="vertical_line"></span>&nbsp;
                All Rights Reserved
            </div>
            <div class="col-3 text-end">
                Version 3.1.0
            </div>
        </div>
    </div>
       

</footer>
