.footer {
    background-color: white;
    color: gray;
    padding: 10px;
    position: fixed;
    font-size: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid grey;
  }
  .container{
    margin: 0 0;
    padding: 0;
  }
  .footer-logo{
    width: 1.5em;
    height: 1.5em;
  }
  .footer_image{
  
  }
  .vertical_line{
    border-left: 1px solid gray;
    height: 500px;
  }
  .align_right{
    text-align: right;
  }
  .align_left{
    text-align: left;
  }
  
  